# Need modify:
#   server_name
#   ssl path
#   root path
#   ws path
server {
	listen                     443 default_server;
server_name                baidu.com;
	ssl                        on;
	root                       /var/www/FileList/;
	index                      index.php index.html index.htm index.nginx-debian.html;
	ssl_certificate            /etc/nginx/ssl/baidu.com/pem.pem;
	ssl_certificate_key        /etc/nginx/ssl/baidu.com/key.key;
	ssl_session_timeout        5m;
	ssl_ciphers                ECDHE-RSA-AES128-GCM-SHA256:ECDHE:ECDH:AES:HIGH:!NULL:!aNULL:!MD5:!ADH:!RC4;
	ssl_protocols              TLSv1 TLSv1.1 TLSv1.2;
	ssl_prefer_server_ciphers  on;
	error_log                  /var/log/nginx/v2_error.log error;
	access_log                 /var/log/nginx/v2_accss.log;
	location /china {
		proxy_redirect            off;
		proxy_pass                http://127.0.0.1:23233;
		proxy_http_version        1.1;
		proxy_set_header          Upgrade $http_upgrade;
		proxy_set_header          Connection "upgrade";
		proxy_set_header          Host $host;
		#                         Show real IP in v2ray access.log
		proxy_set_header          X-Real-IP $remote_addr;
		proxy_set_header          X-Forwarded-For $proxy_add_x_forwarded_for;
	}
	location / {
		try_files                 $uri $uri/ =404;
	}

	location ~ \.php$ {
		include                   snippets/fastcgi-php.conf;
		fastcgi_pass              unix:/run/php/php*.*-fpm.sock;
	}

	location ~ /\.ht {
		deny                      all;
	}
}
server {
	listen                     80;
	server_name                baidu.com;
	rewrite                    ^(.*)$ https://$host$1 permanent;
}