# Need modify:
#   server_name
#   ssl path
#   root path
#   ws path
server {
    listen 443 default_server ssl;
    server_name baidu.com;
    # ssl on;
    root /var/www/html;
    # index index.php index.html index.htm index.nginx-debian.html;
    index index index.html index.htm index.nginx-debian.html;
    ssl_certificate /etc/nginx/ssl/baidu.com/pem.pem;
    ssl_certificate_key /etc/nginx/ssl/baidu.com/key.key;
    ssl_session_timeout 1h;
    ssl_session_cache shared:MozSSL:10m;
    ssl_session_tickets off;
    ssl_ciphers "AES128+EECDH:AES128+EDH:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    # HSTS (ngx_http_headers_module is required) (63072000 seconds)
    add_header Strict-Transport-Security "max-age=63072000" always;
    # OCSP stapling
    ssl_stapling on;
    ssl_stapling_verify on;
    # verify chain of trust of OCSP response using Root CA and Intermediate certs
    # ssl_trusted_certificate /path/to/ca.cer;
    error_log /var/log/nginx/v2_error.log error;
    access_log /var/log/nginx/v2_accss.log;
    location /china {
        proxy_redirect off;
        proxy_pass http://127.0.0.1:23233;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        # Show real IP in v2ray access.log
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        # websocket 0-RTT max-early-data 支持
        # proxy_set_header Early-Data $ssl_early_data;
    }
    location / {
        try_files $uri $uri/ =404;
    }

    # location ~ \.php$ {
    #     include snippets/fastcgi-php.conf;
    #     fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    # }

    location ~ /\.ht {
        deny all;
    }
}
server {
    listen 80;
    server_name baidu.com;
    rewrite ^(.*)$ https://$host$1 permanent;
}